<div class="bg-lightgrey bg-opacity-50 fixed inset-0 w-full h-screen" (click)="onCancel()"></div>

    <dialog open class="flex flex-col max-w-md h-auto py-10 px-10 rounded gap-5 justify-center items-center">
        <div><span class="text-base font-medium text-center leading-7">No projects done yet!</span></div>
        <div> <button class="flex text-base text-white font-medium justify-center items-center rounded bg-lightgrey w-[7rem] h-10" (click)="onCancel()">Cancel</button></div>
        </dialog>

    



